initialize
random

mode reset
set g.Vdd 1
set g.GND 0
set g._sReset 0
set g.sReset 1
set g._pReset 0
set g.pReset 1
watchall

cycle

set g._pReset 1
set g.pReset 0

cycle

mode run
set g._sReset 1
set g.sReset 0

set L.r 0
set R.e 0

advance 10000
