initialize
random 1 50

mode reset
set g.Vdd 1
set g.GND 0
set g._sReset 0
set g.sReset 1
set g._pReset 0
set g.pReset 1
watchall

advance 200

set g._pReset 1
set g.pReset 0

advance 200

mode run
set g._sReset 1
set g.sReset 0

advance 1000000
